.container {
    width: 100%;
    max-width: 480px;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto minmax(0,2fr) minmax(0,3fr) auto;
    gap: var(--gap-5);
    background-color: rgb(var(--app-primary-color));
}