.m-plus {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
}

    .m-plus.bold {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 700 !important;
        font-style: normal;
    }
