@inherits ViewBase
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView Roles="@nameof(UserRole.User)">
    <Authorized>
        <div class="dialog-wrapper">
            <div class="dialog-container">
                <input class="noto-sans jp-300" type="text" placeholder="タイトル" @bind=@Title />
                <textarea class="noto-sans jp-300" placeholder="日記やメモ" @bind=@Content />
                <div class="diary-image">
                    @if (_thumbnail != null)
                    {
                        <label class="thumb">
                            <img src="data:image/png;base64,@_thumbnail" />
                            <InputFile capture="environment" accept="image/*" hidden OnChange="@FileOnChanged" />
                        </label>
                    }
                    else
                    {
                        <label class="btn">
                            写真を撮る
                            <InputFile capture="environment" accept="image/*" hidden OnChange="@FileOnChanged" />
                        </label>
                    }
                </div>
                <div class="actions">
                    <button class="btn btn-outline" @onclick=@CloseDialog>キャンセル</button>
                    <button class="btn" @onclick=@SaveButtonOnClick>保存する</button>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToHome />
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>