.dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--app-primary-color),.5);
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container {
    width: 90%;
    max-width: 420px;
    box-shadow: 0 0 8px rgba(var(--app-black),.25);
    border-radius: var(--gap-20);
    background-color: rgb(var(--app-primary-color));
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px auto auto;
}

.dialog-header {
    background-color: rgb(var(--app-secondary-color-200));
    border-radius: var(--gap-20) var(--gap-20) 0 0;
    display: flex;
    align-items: center;
    padding: 0 var(--gap-10);
    color: rgb(var(--app-white));
}

.dialog-body {
    padding: var(--gap-10);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto minmax(0,1fr);
    grid-gap: var(--gap-5);
}

    .dialog-body > input {
        padding: var(--gap-10);
        background-color: transparent;
        outline: none;
        border: solid 2px rgba(var(--app-secondary-color-100),.5);
        border-radius: var(--gap-10);
        font-size: 1em;
        text-align: center;
    }

.dialog-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--gap-10);
    gap: var(--gap-10);
}
