@inherits ViewBase
@inject CustomAuthenticationStateProvider AuthStateProvider
<div class="dialog-wrapper">
    <div class="dialog-container">
        <div class="dialog-header noto-sans jp-500">野菜を追加</div>
        <div class="dialog-body">
            <input class="noto-sans jp-300" type="text" placeholder="野菜の名前" @bind=@Name />
            <textarea class="noto-sans jp-300" placeholder="説明を入力..." @bind=@Description />
        </div>
        <div class="dialog-actions">
            <button class="btn btn-outline" @onclick=@CancelButtonOnClick>キャンセル</button>
            <button class="btn" @onclick=@VegetableAddButtonOnClick>追加</button>
        </div>
    </div>
</div>