article {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 56px minmax(0,1fr) 64px;
}

header {
    background-color: rgb(var(--app-secondary-color-200));
    color: rgb(var(--app-white));
    box-shadow: 0 0 8px rgba(var(--app-black),.25);
    border-radius: 0 0 16px 16px;
}

main {
    position: relative;
    padding: var(--gap-10);
    overflow: auto;
}

footer {
    background-color: rgb(var(--app-secondary-color-100));
    box-shadow: 0 0 8px rgba(var(--app-black),.25);
    border-radius: 16px 16px 0 0;
}
