article {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70px minmax(0,1fr) 70px;
    grid-gap: var(--gap-10);
}

header {
    background-color: var(--app-secondary-color-200);
    color: var(--app-white);
    box-shadow: 0 0 8px rgba(0,0,0,.25);
    border-radius: 0 0 16px 16px;
}

main {
    padding: 0 var(--gap-10);
    overflow: auto;
}

footer {
    background-color: var(--app-secondary-color-100);
    box-shadow: 0 0 8px rgba(0,0,0,.25);
    border-radius: 16px 16px 0 0;
}
